Repository SeahChenKhoon/GenerateUnitTestCases: changes, and which pre-commit hooks are due for each by the changed paths.
All: generate-tests, run-tests

.pre-commit-config.yaml:

repos:
  - repo: local
    hooks:
      - id: generate-tests
        name: Generate Tests
        entry: python generate_tests.py
        language: system
        types: [python]
        pass_filenames: true
        files: ^src/

      - id: run-tests
        name: Run All Pytest Tests
        entry: bash -c "echo 'Running all tests...' && PYTHONPATH=. uv run pytest"
        pass_filenames: false
        language: python
        types: [python]

test: Test Cases
  .pre-commit-config.yaml
  pyproject.toml
  src/math_utils.py
  tests/test_rect_utils.py
  uv.lock
Due: generate-tests, run-tests

refactor: Include pre-commit hooks
  pyproject.toml
  uv.lock
Due: none

chore: Simplify pytest hook to use python -m pytest in pre-commit config
  .pre-commit-config.yaml
  src/math_utils.py
Due: generate-tests, run-tests

test: Test Cases
  src/math_utils.py
Due: generate-tests, run-tests

feat: Add is_odd to math_util.py
  src/math_utils.py
Due: generate-tests, run-tests

feat: Add is_odd to math_util.py
  generate_tests.py
Due: run-tests

feat: Output import_hint and import_section
  generate_tests.py
  tests/test_math_utils.py
  tests/test_rect_utils.py
Due: run-tests

feat: Implement triangle perimeter
  src/triangle_utils.py
Due: generate-tests, run-tests

feat: Implement triangle perimeter
  .pre-commit-config.yaml
  generate_tests.py
  src/triangle_utils.py
  tests/test_math_utils.py
  tests/test_rect_utils.py
  tests/test_triangle_utils.py
Due: generate-tests, run-tests

feat: Implement triangle perimeter
  tests/test_math_utils.py
  tests/test_rect_utils.py
  tests/test_triangle_utils.py
Due: run-tests

feat: Implement triangle perimeter
  src/triangle_utils.py
  tests/test_math_utils.py
  tests/test_rect_utils.py
  tests/test_triangle_utils.py
Due: generate-tests, run-tests

feat: Implement triangle perimeter
  .pre-commit-config.yaml
Due: none

chore: Replace rm with cross-platform Python command to clean test files in pre-commit hook
  .pre-commit-config.yaml
  src/rect_utils.py
  tests/test_math_utils.py
  tests/test_rect_utils.py
  tests/test_triangle_utils.py
Due: generate-tests, run-tests

chore: Replace rm with cross-platform Python command to clean test files in pre-commit hook
  .pre-commit-config.yaml
  generate_tests.py
  src/triangle_utils.py
  tests/test_math_utils.py
  tests/test_rect_utils.py
  tests/test_triangle_utils.py
Due: generate-tests, run-tests

chore: Replace rm with cross-platform Python command to clean test files in pre-commit hook
  .pre-commit-config.yaml
  tests/test_math_utils.py
  tests/test_rect_utils.py
  tests/test_triangle_utils.py
Due: run-tests

chore: Replace rm with cross-platform Python command to clean test files in pre-commit hook
  src/triangle_utils.py
Due: generate-tests, run-tests

chore: Replace rm with cross-platform Python command to clean test files in pre-commit hook
  src/rect_utils.py
  tests/test_math_utils.py
  tests/test_rect_utils.py
Due: generate-tests, run-tests

chore: Replace rm with cross-platform Python command to clean test files in pre-commit hook
  .pre-commit-config.yaml
  src/triangle_utils.py
  tests/test_rect_utils.py
  tests/test_triangle_utils.py
Due: generate-tests, run-tests

chore: Replace rm with cross-platform Python command to clean test files in pre-commit hook
  tests/test_math_utils.py
  tests/test_rect_utils.py
  tests/test_triangle_utils.py
Due: run-tests

chore: Replace rm with cross-platform Python command to clean test files in pre-commit hook
  .pre-commit-config.yaml
Due: none

chore: Replace rm with cross-platform Python command to clean test files in pre-commit hook
  .pre-commit-config.yaml
  src/triangle_utils.py
Due: generate-tests, run-tests

chore: Replace rm with cross-platform Python command to clean test files in pre-commit hook
  src/triangle_utils.py
  tests/test_math_utils.py
  tests/test_rect_utils.py
  tests/test_triangle_utils.py
Due: generate-tests, run-tests

chore: Replace rm with cross-platform Python command to clean test files in pre-commit hook
  generate_tests.py
  tests/test_math_utils.py
  tests/test_triangle_utils.py
Due: run-tests

chore: regenerate tests via pre-commit
  generate_tests.py
  src/triangle_utils.py
  tests/test_rect_utils.py
  tests/test_triangle_utils.py
Due: generate-tests, run-tests

chore: regenerate tests via pre-commit
  .pre-commit-config.yaml
  src/triangle_utils.py
  tests/test_math_utils.py
  tests/test_rect_utils.py
Due: generate-tests, run-tests

chore: regenerate tests via pre-commit
  .pre-commit-config.yaml
  tests/test_math_utils.py
  tests/test_rect_utils.py
  tests/test_triangle_utils.py
Due: run-tests

chore: regenerate tests via pre-commit
  src/triangle_utils.py
  tests/test_math_utils.py
  tests/test_rect_utils.py
  tests/test_triangle_utils.py
Due: generate-tests, run-tests

chore: regenerate tests via pre-commit
  .pre-commit-config.yaml
  tests/test_math_utils.py
  tests/test_rect_utils.py
Due: run-tests

chore: regenerate tests via pre-commit
  src/math_utils.py
  tests/test_math_utils.py
  tests/test_rect_utils.py
Due: generate-tests, run-tests

chore: regenerate tests via pre-commit
  generate_tests.py
  tests/test_math_utils.py
  tests/test_rect_utils.py
Due: run-tests

chore: regenerate tests via pre-commit
  src/rect_utils.py
  src/triangle_utils.py
  tests/test_math_utils.py
  tests/test_rect_utils.py
  tests/test_triangle_utils.py
Due: generate-tests, run-tests

test: Remove triangle_util.py
  generate_tests.py
  src/triangle_utils.py
  tests/test_math_utils.py
  tests/test_triangle_utils.py
Due: generate-tests, run-tests

test: Add triangle_util.py
  src/triangle_utils.py
  tests/test_math_utils.py
  tests/test_rect_utils.py
  tests/test_triangle_utils.py
Due: generate-tests, run-tests

test: Remove triangle_util.py
  src/triangle_utils.py
  tests/test_math_utils.py
  tests/test_rect_utils.py
  tests/test_triangle_utils.py
Due: generate-tests, run-tests

test: Add triangle_util.py
  generate_tests.py
  src/triangle_utils.py
  tests/test_math_utils.py
  tests/test_rect_utils.py
  tests/test_triangle_utils.py
Due: generate-tests, run-tests
